<app-header></app-header>
<div class="container p-5 main-body">
  <div class="display-6 text-center p-4">About this platform</div>
  <div class="distress-text">
    In Nigeria, many people go through problems, issues and injustices such as rape, 
    domestic violence, robbery, molestation and other issues such as motor accidents. 
    These people most times are unable to voice out their problems for reasons such
    as fear of being mocked upon, and mostly the “inadequacies” and lack of comeliness 
    of the police.
    <br>
    <br>
    This app helps solve that challenge by giving you a voice serves as a medium for 
    to report such cases. We hopethat very soon security agents would be able to use 
    information gathered from here to trace criminals  
  </div>
</div>
<app-footer></app-footer>