<nav class="navbar navbar-expand-lg navbar-dark bg-dark my-header py-4 px-3">
  <button class="navbar-toggler navbar-toggler-left" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand pr-2" [routerLink]="['/']">Distress App</a>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item px-3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/']">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item px-3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/top-distresses']">Top Distresses</a>
      </li>
      <li class="nav-item px-3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/search']">Search</a>
      </li>
      <li class="nav-item px-3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item px-3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
    </ul>
  </div>
  <a class="btn m-2 btn-danger" [routerLink]="['/create']">Create Distress</a>
</nav>