<div class="distress-page row py-5 pl-5">
  <div class="col-lg-8 col-xl-8 py-2 col-md-12">
    <h2 class="display-5 py-2">{{ distress.title }}</h2>
    <!-- <div class="lead">
      <p *ngFor="let tag of distress.tags">{{ tag }},</p>
    </div> -->
    <div class="h6">
      <i>Category: </i>{{ distress.category }}
    </div>
    <div class="h5">
      <i>Location</i>: {{ distress.location }}
    </div>
    <div class="h5">
      <button *ngFor="let tag of distress.tags" type="button" class="btn btn-primary rounded-circle">{{ tag }} </button>
    </div>
    <div class="py-3">
      <div class="pt-4 distress-text">{{ distress.description }}</div>
    </div>
    <hr class="p-5">
    <div class="fb-share-button">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">Share</a>
    </div>
  </div>
  
  <div class="col-lg-4 col-xl-4 py-4 col-md-12 visible-md-up">
    <app-sidebar></app-sidebar>
  </div>
</div>
