<app-header></app-header>
<div class="create my-2 mx-3">
  <div class="display-5 p-5 text-center">Create a Distress</div>

  <div class="row mx-4 pb-4">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="col-md-8 col-lg-8 col-xl-7" action="">
      <div class="form-group">
        <label for="distress-title" class="form-label">Title</label>
        <input required class="form-control" type="text" [(ngModel)]="distress.title" name="title" id="distress-title">
      </div>
      <div class="form-group">
        <label for="distress-tags" class="form-label">Tags</label>
        <tag-input class="form-control" [(ngModel)]="tags" name="tags" [editable]="true" [separatorKeyCodes]="[9]" [maxItems]="5" [ripple]="false" [separatorKeys]="[',',' ']">
        </tag-input>
      </div>
      <div class="form-group">
        <label for="distress-category" class="form-label">Category</label>
        <select required [(ngModel)]="distress.category" name="category" class="custom-select mb-3" id="distres-category">
          <option *ngFor="let category of categories" [value]="category.toLowerCase()">{{ category }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="distress-location" class="form-label">Location</label>
        <input #search required class="form-control" type="text" [(ngModel)]="location" name="location" id="distress-location">
      </div>
      <div class="form-group">
        <label for="distress-description" class="form-label">Description</label>
        <textarea required class="form-control" id="distress-description" [(ngModel)]="distress.description" name="description" id=""
          cols="30" rows="10"></textarea>
      </div>
      <button class="btn btn-primary btn-lg" [disabled]="!heroForm.form.valid || showLoading" type="submit">
        <i [hidden]="!showLoading" class="fa fa-spinner fa-spin fa-fw"> </i> Broadcast Distress</button>
    </form>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-5">
      <div class="maps hidden-md-down py-3">
        <agm-map [latitude]="map.latitude" [longitude]="map.longitude" [scrollwheel]="false" [zoom]="map.zoomLevel">
          <agm-marker [latitude]="map.latitude" [longitude]="map.longitude"></agm-marker>
        </agm-map>
      </div>
      <div class="custom-file">
        <input type="file" (change)="uploadFile($event)" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <div class="form-group">
        <div class="form-text">1. File must be in PNG, GIF or JPG format</div>
        <div class="form-text">2. Image should not be larger than 2MB</div>
        <div class="image" *ngIf="fileUrl">
          <div class="my-image p-2 border d-inline-block" [ngStyle]="{'background-image': 'url('+ fileUrl +')'}"></div>
          <span class="remove-img px-3 py-2" (click)="removeImage(i)"><strong>&times;</strong></span>
          <div [hidden]="!sample_graphic_invalid" class="alert alert-danger small my-3">{{ invalid_sample_graphic_text }}</div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>