<div class="create my-2 mx-3">
  <div class="display-5 p-5 text-center">Create a Distress</div>

  <div class="container row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="custom-file">
        <input ng2FileSelect [uploader]="uploader" multiple type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <div class="maps hidden-md-down py-3">
        <agm-map [latitude]="map.latitude" [longitude]="map.longitude" [scrollwheel]="false" [zoom]="map.zoomLevel">
          <agm-marker [latitude]="map.latitude" [longitude]="map.longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="col-md-8 col-lg-8 m-auto" action="">
      <div class="form-group">
        <label for="distress-title" class="form-label">Title</label>
        <input required class="form-control" type="text" [(ngModel)]="distress.title" name="title" id="distress-title">
      </div>
      <div class="form-group">
        <label for="distress-tags" class="form-label">Tags</label>
        <tag-input class="form-control" [(ngModel)]="tags" name="tags" [editable]="true" [maxItems]="5" [ripple]="false"
          [separatorKeys]="[',',' ']" (onTagEdited)="onTagEdited($event)">
        </tag-input>
      </div>
      <div class="form-group">
        <label for="distress-category" class="form-label">Category</label>
        <select required [(ngModel)]="distress.category" name="category" class="custom-select mb-3" id="distres-category">
          <option *ngFor="let category of categories" [value]="category.toLowerCase()">{{ category }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="distress-location" class="form-label">Location</label>
        <input #search required class="form-control" type="text" [(ngModel)]="location" name="location" id="distress-location">
      </div>
      <div class="form-group">
        <label for="distress-description" class="form-label">Description</label>
        <textarea required class="form-control" id="distress-description" [(ngModel)]="distress.description" name="description" id=""
          cols="30" rows="10"></textarea>
      </div>
      <button class="btn btn-primary btn-lg" [disabled]="!heroForm.form.valid || showLoading" type="submit"><i [hidden]="!showLoading" class="fa fa-spinner fa-spin fa-fw"> </i> Broadcast Distress</button>
    </form>
  </div>
</div>