/* You can add global styles to this file, and also import other style files */
.display-5 {
  font-size: 3.0rem;
}

.display-6 {
  font-size: 2.4rem
}

.display-7 {
  font-size: 1.8rem
}

.display-8 {
  font-size: 1.3rem
}

.display-7 {
  font-size: 1.0rem
}
