<app-header></app-header>
<app-hero></app-hero>
<nav class="navbar navbar-light border navbar-stats bg-light navbar-expand-sm">
  <div class="col-6 text-center border-right display-9">
    {{ distressLength }} Distresses
  </div>
  <div class="col-6 text-center display-9">
    {{ commentLength }} Comments
  </div>
</nav>
<div class="container py-5">

  <div class="card-deck">
    <div *ngFor="let distress of distresses" class="card">
      <img class="card-img-top" src="/assets/img.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{distress.title }}</h5>
        <p class="card-text">{{ distress.description }}</p>
      </div>
      <div class="card-footer bg-white border-0">
        <a [routerLink]="['/distress/'+distress._id]" class="btn btn-primary">Read more...</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ distress.createdAt | date }}</small>
      </div>
    </div>
  </div>
  <div class="container py-5 px-2">
    <div class="blockquote-row row" *ngFor="let quote of quotes;let i = index">
      <blockquote class="blockquote py-3 col-sm-12 col-md-9 p-4">
        <hr>
        <i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
        <p class="mb-0">{{ quote.text }}</p>
        <footer class="blockquote-footer">{{ quote.author }} in
          <cite title="Source Title">{{ quote.source }}</cite>
        </footer>
        <hr>
      </blockquote>
    </div>
  </div>
</div>
<app-footer></app-footer>