<div class="row m-3">
  <div *ngFor="let distress of distresses" class="col-sm-12 col-lg-6 col-lg-4 col-xl-4" style="width: 18rem;">
    <div class="card m-3">
      <h5 class="card-header">{{ distress.title }}</h5>
      <div class="card-body">
        <i class="card-subtitle border-bottom mb-2 text-muted">{{ distress.tags.join(", ") }}</i>
        <p class="card-text">{{ distress.description }}</p>
      </div>
      <div class="card-footer bg-white border-0">
        <a [routerLink]="['/distress/'+distress._id]" class="btn btn-primary">View this distress</a>
      </div>
      <div class="card-footer">
        {{ distanceInWords(distress.createdAt, true) }}
      </div>
    </div>
  </div>
</div>